Why use pandas
Data science jobs are very much focused on what we have done before
Loading and visualizing data
Calculating basic statistics

In [1]:
import pandas as pd

In [2]:
# Lets try pandas
fileName = 'Data/results.csv'
data = pd.read_csv(fileName)

In [3]:
data.head() # This gives us the top 5 itemes in the data data.head(10) would return the top ten items in the data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [6]:
data.tail() # This gives us the top 10 itemes in the data.tail(10) would return the bottom ten items in the data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
43183,2022-02-01,Suriname,Guyana,2,1,Friendly,Paramaribo,Suriname,False
43184,2022-02-02,Burkina Faso,Senegal,1,3,African Cup of Nations,Yaoundé,Cameroon,True
43185,2022-02-03,Cameroon,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,False
43186,2022-02-05,Cameroon,Burkina Faso,3,3,African Cup of Nations,Yaoundé,Cameroon,False
43187,2022-02-06,Senegal,Egypt,0,0,African Cup of Nations,Yaoundé,Cameroon,True

It is work noting here that pandas presents the data in a very table like format.  The data type pandas uses is called a pandas dataframe. It shows the data in a table and with the column names.

In [7]:
print(data.shape) # We can look at the shape of the data frame

(43188, 9)

In [12]:
print(data.columns) # We can also get the column names

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [9]:
print(data.dtypes)

date          object
home_team     object
away_team     object
home_score     int64
away_score     int64
tournament    object
city          object
country       object
neutral         bool
dtype: object

In [10]:
print(data.index)

RangeIndex(start=0, stop=43188, step=1)