In [1]:
# Making  the data set

In [2]:
import pandas as pd

In [3]:
data = {'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
        'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai', 'Manchester', 'Cairo', 'Osaka'],
        'age': [41, 28, 33, 34, 38, 31, 37],
        'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]}

row_labels = [101, 102, 103, 104, 105, 106, 107]

In [4]:
#Data is a dictionary
# We can place dictionaries in to a pandas data frame

In [5]:
print(data['name'])
print(data['age'])

['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori']
[41, 28, 33, 34, 38, 31, 37]

In [6]:
# To make our data frame we just supply the data and if we want an index
dataFrame = pd.DataFrame(data=data, index=row_labels)

In [7]:
dataFrame.head

<bound method NDFrame.head of        name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0>

In [8]:
dataFrame['city']

101    Mexico City
102        Toronto
103         Prague
104       Shanghai
105     Manchester
106          Cairo
107          Osaka
Name: city, dtype: object

In [75]:
# to look at specific parts of the data I can use the index
dataFrame.loc[103] #Notice loc and iloc

name          Jana
city        Prague
age             33
py-score      81.0
Name: 103, dtype: object

In [76]:
#Getting data

In [77]:
dataFrame.iloc[0]

name             Xavier
city        Mexico City
age                  41
py-score           88.0
Name: 101, dtype: object

In [78]:
dataFrame.iloc[0]['age']

41

In [79]:
#Setting data

In [80]:
dataFrame['age'] = dataFrame['age'].replace([41],14)

In [81]:
dataFrame.iloc[0]['age']

14

In [91]:
dataFrame.iloc[(0,2)] = 12 # can not use dataFrame.iloc[0]['age'] =12

In [92]:
dataFrame.iloc[0]['age']

12